#menu-toggle {
    color:white;
    position: absolute;
    top: -3px;
    left: 25px;
    /*transform: rotate(90deg);*/
    background: #a94442;
    box-sizing: border-box;
}

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

#wrapper.toggled {
    padding-left: 0px;
}


#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 300px;
    height: 95%;
    margin-left: -250px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #1682ba;
    top: 46px;
    font-size: 18px;
    /*position: absolute;*/
    z-index: 9999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}


#wrapper.toggled #sidebar-wrapper {
    width: 0px;
}


#page-content-wrapper {
    width: auto;
    position: absolute;
    padding: 50px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
/*    width:100%;*/
}
/* Sidebar Styles */
.sidebar-nav {
/*    position: absolute;
    top: 60px;*/
    /*width: 280px;*/
    margin: 0;
    padding: 0;
    list-style: none;

}


.sidebar-nav li {
    text-indent: 10px;
    line-height: 30px;

}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold

}


.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #ff3300;
    border: 4px solid #56a2d8!important;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-nav>.sidebar-brand {
    margin-top: 10px!important;
    text-align: center;
    font-size: 20px;
    border: 1px solid #56a2d8!important;
    box-shadow: 7px 7px 10px black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*            .nav.sidebar-nav li a::before {
                content:"\e081";
                font-family: 'Glyphicons Halflings';
                font-size: .75em;

                vertical-align: baseline;
                display: inline-block;
                padding-right: 5px;
            }*/
/*            a[href*="#"]::before {
                content:"\e067";
                font-family: 'Glyphicons Halflings';

            }*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.ui-treetable table {
    table-layout: fixed
}
.ui-treetable .ui-treetable-data>tr>td .ui-treetable-toggler.ui-icon-triangle-1-e,
.ui-treetable .ui-treetable-data>tr>td .ui-treetable-toggler.ui-icon-triangle-1-s{
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0 !important;
    text-align: center;
    background: 0;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 2px;
    height: 22px;
    width: 22px;
    margin-top: 6px;
}
.ui-treetable .ui-treetable-data>tr>td .ui-treetable-toggler.ui-icon-triangle-1-s:before{
    content:"\e082";
    font-family: 'Glyphicons Halflings';
    font-size: .75em;
    color: #db9d3b;
}
.ui-treetable .ui-treetable-data>tr>td .ui-treetable-toggler.ui-icon-triangle-1-e:before {
    content:"\e081";
    font-family: 'Glyphicons Halflings';
    font-size: .75em;
    color: green;
}
#actionWiseAppl1 table, #actionWiseAppl1 table th{
    background: #fdf4c8;
    border: none !important; 

}
#actionWiseAppl1 h2{
    width: 96%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    padding: 3px;
    border-bottom: 2px solid #000;
}
